.clear-both-after::after {
  content: ' ';
  display: block;
  font-size: 0;
  clear: both;
}
.loader {
  display: block;
  width: 20px;
  height: 20px;
  color: transparent;
  font-size: 0;
  background-image: url(../images/loader.svg);
  background-size: 100% 100%;
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.pane {
  background-color: white;
  position: absolute;
  top: 50px;
}
@media (max-width: 620px) {
  .pane {
    width: calc(100% -  20px);
    left: 10px;
  }
}
@media (min-width: 620px) {
  .pane {
    width: 600px;
    left: calc(50% -  300px);
  }
}
.error-pane {
  background-color: white;
  position: absolute;
  top: 50px;
  box-sizing: border-box;
  padding: 15px;
  text-align: center;
  background-color: #ffd6d6;
}
@media (max-width: 620px) {
  .error-pane {
    width: calc(100% -  20px);
    left: 10px;
  }
}
@media (min-width: 620px) {
  .error-pane {
    width: 600px;
    left: calc(50% -  300px);
  }
}
.error-pane label {
  font-style: italic;
  color: #555;
}
.submit-button {
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  color: white;
  font-weight: 300;
  border: none;
  padding: 0;
  margin: 0;
  background-color: #65bcd4;
  cursor: pointer;
}
.submit-button:focus {
  outline: 0;
}
.submit-button:hover {
  background-color: #2e8ba5;
}
.submit-button.disabled {
  pointer-events: none;
}
.submit-button.disabled,
.submit-button.disabled:hover {
  background-color: #b5dfea;
}
.log-scene-loading {
  background-color: white;
  position: absolute;
  top: 50px;
  box-sizing: border-box;
  padding: 15px;
  text-align: center;
}
@media (max-width: 620px) {
  .log-scene-loading {
    width: calc(100% -  20px);
    left: 10px;
  }
}
@media (min-width: 620px) {
  .log-scene-loading {
    width: 600px;
    left: calc(50% -  300px);
  }
}
.log-scene-loading .loader {
  position: relative;
  left: calc(50% - 10px);
}
.log-scene-loading::before {
  content: 'Loading log entries...';
  display: block;
  margin-bottom: 15px;
  color: #555;
}
.log-scene-error {
  background-color: white;
  position: absolute;
  top: 50px;
  box-sizing: border-box;
  padding: 15px;
  text-align: center;
  background-color: #ffd6d6;
}
@media (max-width: 620px) {
  .log-scene-error {
    width: calc(100% -  20px);
    left: 10px;
  }
}
@media (min-width: 620px) {
  .log-scene-error {
    width: 600px;
    left: calc(50% -  300px);
  }
}
.log-scene-error label {
  font-style: italic;
  color: #555;
}
.log-pane {
  background-color: white;
  position: absolute;
  top: 50px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media (max-width: 620px) {
  .log-pane {
    width: calc(100% -  20px);
    left: 10px;
  }
}
@media (min-width: 620px) {
  .log-pane {
    width: 600px;
    left: calc(50% -  300px);
  }
}
.log-pane li {
  width: 100%;
  border-top: 1px solid #d5d5d5;
  box-sizing: border-box;
  padding: 10px;
}
.log-pane li::after {
  content: ' ';
  display: block;
  font-size: 0;
  clear: both;
}
.log-pane li:first-child {
  border-top: none;
}
.log-pane li.clickable,
.log-pane li.clickable label {
  cursor: pointer;
}
.log-pane li.clickable:hover {
  background-color: #f0f0f0;
}
.log-pane li label {
  display: block;
  float: left;
  color: #555;
}
.log-pane li .service-name {
  font-weight: bold;
  width: 130px;
  text-overflow: ellipsis;
  text-align: right;
  padding-right: 5px;
}
.log-pane li .message {
  width: calc(100% - 141px);
  overflow: hidden;
  box-sizing: border-box;
  padding-left: 5px;
  border-left: 1px solid #d5d5d5;
}
#login-form {
  position: absolute;
  height: 50px;
  width: 300px;
  top: calc(50% -  25px);
  left: calc(50% -  150px);
  box-sizing: border-box;
  padding: 10px;
  background-color: white;
  text-align: center;
}
#login-form #password {
  float: left;
  width: 190px;
  height: 30px;
  border: 1px solid #d5d5d5;
  padding: 0 5px;
  font-size: 18px;
  box-sizing: border-box;
}
#login-form #password:focus {
  outline: 0;
}
#login-form #submit {
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  color: white;
  font-weight: 300;
  border: none;
  padding: 0;
  margin: 0;
  background-color: #65bcd4;
  cursor: pointer;
  float: right;
  width: 80px;
}
#login-form #submit:focus {
  outline: 0;
}
#login-form #submit:hover {
  background-color: #2e8ba5;
}
#login-form #submit.disabled {
  pointer-events: none;
}
#login-form #submit.disabled,
#login-form #submit.disabled:hover {
  background-color: #b5dfea;
}
nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: white;
}
nav a {
  display: inline-block;
  cursor: pointer;
  box-sizing: border-box;
  height: 40px;
  line-height: 40px;
  margin: 0 8px;
  text-decoration: none;
  color: #555;
}
nav .cur {
  border-bottom: 3px solid #65bcd4;
  color: #65bcd4;
}
.settings-pane {
  background-color: white;
  position: absolute;
  top: 50px;
  box-sizing: border-box;
  padding: 15px;
}
@media (max-width: 620px) {
  .settings-pane {
    width: calc(100% -  20px);
    left: 10px;
  }
}
@media (min-width: 620px) {
  .settings-pane {
    width: 600px;
    left: calc(50% -  300px);
  }
}
.settings-pane .password-setter {
  margin-bottom: 5px;
  padding-bottom: 6px;
  border-bottom: 1px solid #d5d5d5;
}
.settings-pane .main-settings .loader {
  margin-left: calc(50% - 10px);
  margin-top: 15px;
}
.settings-pane .main-settings .init-error {
  display: block;
  margin-top: 15px;
  text-align: center;
  color: #ff0000;
}
.settings-pane .settings-field {
  width: 100%;
  height: 30px;
  padding: 2px 0;
}
.settings-pane .settings-field::after {
  content: ' ';
  display: block;
  font-size: 0;
  clear: both;
}
.settings-pane .settings-field label,
.settings-pane .settings-field input {
  width: calc(50% - 5px);
  height: 30px;
}
.settings-pane .settings-field label {
  float: left;
  text-align: right;
  line-height: 30px;
}
.settings-pane .settings-field input {
  float: right;
  box-sizing: border-box;
  border: 1px solid #d5d5d5;
  font-size: 16px;
  padding: 0 3px;
}
.settings-pane .settings-field input:focus {
  outline: 0;
}
.settings-pane .settings-action {
  margin-top: 5px;
}
.settings-pane .settings-action::after {
  content: ' ';
  display: block;
  font-size: 0;
  clear: both;
}
.settings-pane .settings-action .loader {
  float: right;
  margin-top: 5px;
  margin-right: 5px;
}
.settings-pane .settings-action button {
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  color: white;
  font-weight: 300;
  border: none;
  padding: 0;
  margin: 0;
  background-color: #65bcd4;
  cursor: pointer;
  float: right;
  padding: 0 10px;
}
.settings-pane .settings-action button:focus {
  outline: 0;
}
.settings-pane .settings-action button:hover {
  background-color: #2e8ba5;
}
.settings-pane .settings-action button.disabled {
  pointer-events: none;
}
.settings-pane .settings-action button.disabled,
.settings-pane .settings-action button.disabled:hover {
  background-color: #b5dfea;
}
.settings-pane .settings-action label {
  display: block;
  clear: both;
  padding-top: 5px;
  text-align: right;
}
.settings-pane .settings-action .error {
  color: #ff0000;
}
.settings-pane .settings-action .success {
  color: #65bcd4;
}
html,
body {
  font-family: sans-serif !important;
  border: 0;
  margin: 0;
  background-color: #d5d5d5;
}
