.pane {
  background-color: white;
  position: absolute;
  top: 45px;
}
@media (max-width: 720px) {
  .pane {
    width: calc(100% -  20px);
    left: 10px;
  }
}
@media (min-width: 720px) {
  .pane {
    width: 700px;
    left: calc(50% -  350px);
  }
}
#login-form {
  position: absolute;
  height: 50px;
  width: 300px;
  top: calc(50% -  25px);
  left: calc(50% -  150px);
  box-sizing: border-box;
  padding: 10px;
  background-color: white;
  text-align: center;
}
#login-form #password {
  float: left;
  width: 190px;
  height: 30px;
  border: 1px solid #d5d5d5;
  padding: 0 5px;
  font-size: 18px;
  box-sizing: border-box;
}
#login-form #password:focus {
  outline: 0;
}
#login-form #submit {
  float: right;
  width: 80px;
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  color: white;
  font-weight: 300;
  border: none;
  padding: 0;
  margin: 0;
  background-color: #65bcd4;
  cursor: pointer;
}
#login-form #submit:focus {
  outline: 0;
}
#login-form #submit:hover {
  background-color: #2e8ba5;
}
.loader {
  display: block;
  width: 20px;
  height: 20px;
  color: transparent;
  font-size: 0;
  background-image: url(../images/loader.svg);
  background-size: 100% 100%;
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 35px;
  text-align: center;
  background-color: white;
}
nav a {
  display: inline-block;
  cursor: pointer;
  box-sizing: border-box;
  height: 35px;
  line-height: 35px;
  margin: 0 8px;
  text-decoration: none;
  color: black;
}
nav .cur {
  border-bottom: 3px solid #65bcd4;
  color: #65bcd4;
}
.overview-loading {
  background-color: white;
  position: absolute;
  top: 45px;
  box-sizing: border-box;
  padding: 15px;
  text-align: center;
}
@media (max-width: 720px) {
  .overview-loading {
    width: calc(100% -  20px);
    left: 10px;
  }
}
@media (min-width: 720px) {
  .overview-loading {
    width: 700px;
    left: calc(50% -  350px);
  }
}
.overview-loading .loader {
  position: relative;
  left: calc(50% - 10px);
}
.overview-loading::before {
  content: 'Loading overview...';
  display: block;
  margin-bottom: 15px;
}
html,
body {
  font-family: sans-serif !important;
  border: 0;
  margin: 0;
  background-color: #d5d5d5;
}
