@log-item-name-width: 130px;
@log-item-padding: 10px;

.log-scene-loading {
  .load-pane('Loading log entries...');
}

.log-scene-error {
  .error-pane();
}

.log-empty {
  .message-pane();
  color: @black-text;
}

.log-pane {
  .pane();
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    .clear-both-after();

    width: 100%;
    border-top: 1px solid #d5d5d5;
    box-sizing: border-box;
    padding: @log-item-padding;

    &:first-child {
      border-top: none;
    }

    &.clickable {
      &, label {
        cursor: pointer;
      }
      &:hover {
        background-color: #f0f0f0;
      }
    }

    .service-name, .message {
      display: block;
      float: left;
      color: @black-text;
    }

    .service-name {
      font-weight: bold;
      width: @log-item-name-width;
      text-overflow: ellipsis;
      text-align: right;
      padding-right: (@log-item-padding / 2);
    }

    .message {
      width: calc(~"100% -"(@log-item-name-width+@log-item-padding+1));
      overflow: hidden;
      box-sizing: border-box;
      padding-left: (@log-item-padding / 2);
      border-left: 1px solid #d5d5d5;

      img {
        max-width: 100%;
        max-height: 200px;
      }

      .content-type {
        font-style: italic;
      }
    }
  }

  .action {
    position: relative;
    text-align: center;

    .stream-button {
      position: absolute;
      right: 10px;
      width: @button-height;
      height: @button-height;
      color: transparent;
      font-size: 0;
      border: none;
      background-color: transparent;
      background-size: 200% 100%;
      cursor: pointer;
    }

    .stream-button-active {
      background-image: url('../images/watch_button.svg');
      background-position: -@button-height 0;
    }

    .stream-button-paused {
      background-image: url('../images/watch_button.svg');
      background-position: 0 0;
    }
  }
}
