.background {
  viewport-fill: fb-black;
}

#status {
  font-size: 18;
  font-family: System-Regular;
  font-weight: regular;
  x: 10;
  y: 50%;
  width: 95%;
  height: 100%;
  fill: white;
  text-length: 64;
}

#refresh-button {
  fill: fb-cyan;
}

.result-box-title {
  font-size: 25;
  font-weight: bold;
  fill: white;
  pointer-events: visible;
}

.result-box {
  font-size: 25;
  fill: #aaaaaa;
  pointer-events: visible;
}

#log-message-box {
  font-size: 25;
  fill: #aaaaaa;
}

.application-fill {
  fill: fb-yellow;
}

.foreground-fill {
  fill: fb-white;
}

.background-fill {
  fill: fb-white;
}